{%extends 'subisu/base.html'%}

{%block start%}
<div class="row justify-content-center mt-3">
    <div class="col-md-11">
        <div class="card ">
            <div class="card-body">
            <h3 class="card-title text-center">POA Form</h3>
            <form method="POST" action="{% url 'create_poa' %}">
                {% csrf_token %}
                
                <div class="input-group input-group-static mb-4">
                    <label for="id_activity_id">Select Activity</label>
                    <select id="id_activity_id" name="activity_id" class="form-control input-group input-group-outline my-3">
                      {% for activity in activities %}
                        <option value="{{ activity.id }}">{{ activity.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                
                <!-- field_engineer field -->
                <div class="form-group mb-4">
                    <label>Select Field Engineers</label><br>
                    {% for field_engineer in field_engineers %}
                      <div class="form-check form-check-inline">
                        <input type="checkbox" name="field_engineer[]" value="{{ field_engineer.id }}" class="form-check-input">
                        <label class="form-check-label">{{ field_engineer.firstName }} {% if field_engineer.middleName %} {{ field_engineer.middleName }} {% endif %} {{ field_engineer.lastName }}</label>
                      </div>
                    {% endfor %}
                  </div>
                
                <!-- poa_details field -->
                <div class="input-group input-group-static mb-4">
                  <label for="id_poa_details">POA Details</label>
                  <textarea id="id_poa_details" name="poa_details" class="input-group input-group-outline my-3 border" rows="3"></textarea>
                </div>
                
              
                
                <!-- units field -->
                <!-- units field -->
                <div class="input-group input-group-static mb-4">
                    <label>Select Units</label><br>
                    {% for unit in units %}
                    <div class="form-check form-check-inline">
                        <input type="checkbox" name="units[]" value="{{ unit.id }}" class="form-check-input">
                        <label class="form-check-label">{{ unit.name }}</label>
                    </div>
                    {% endfor %}
                </div>
  

                <div class="form-group mb-4">
                    
                    <label for="id_send_email" class="form-check-label">Send Emails : </label>
                    <input type="checkbox" id="id_send_email" name="send_email" class="form-check-input send-email" style="border:0.3px solid grey; "> Yes
                    
                  </div>
                
                <button type="submit" class="btn btn-success">Submit</button>
                <a  class="btn btn-outline-secondary" href="{%url 'hosts'%}">Cancel</a>
              </form>
              
        </div>
    </div>
</div>
{%endblock%}