<style>
  input, button, .custom-btn{
    height : 38px;
    border-radius:10px;
  }
  label{
    padding-top:0.5em;
  }

  .custom-select-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #344464;
    color: #fff;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
  }

 
  
  
</style>
{%extends 'subisu/base.html'%}
 


{%block start%}
    <div class="container-fluid py-4">
      <div class="row mb-4">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">house</i>
              </div>
              <div class="text-end pt-1">
                <a href="{%url 'hosts'%}"> 
                  <p class="text-sm mb-0 text-capitalize"> No. of Host</p>
                <h4 class="mb-0">{{hosts}}</h4>
              </a>
              </div>
            </div>
            
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <a href=""> 
                <p class="text-sm mb-0 text-capitalize">No. of Applications</p> 
                <h4 class="mb-0">{{ application_counts }}</h4>
                </a>
              </div>
            </div>
           
          </div>
        </div>
        
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">dns</i>
              </div>
              <div class="text-end pt-1">
                <a href=""> 
                <p class="text-sm mb-0 text-capitalize"> No. of Departments</p>
                <h4 class="mb-0">{{Department}}</h4>
                </a>
              </div>
            </div>
           
          </div>
        </div>

      
            
          </div>
        </div>
      </div>

      
      <div class="col-md-3 border">
        <form method="GET" id="filterForm" class="px-3">
          <div class="form-group d-flex align-items-center">
            <label for="startDate" class="mr-2">Select Date:</label>
            <input type="date" id="startDate" name="start_date" class="form-control border px-5">
          </div>
          <!-- Uncomment this section if you want to include an end date input field -->
          <!-- <div class="form-group">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" name="end_date" class="form-control">
          </div> -->
      
  

        
              <div class="form-group">

                
                <select id="filterOption" name="filter_option" class="custom-select-button">
                  <option value="today" {% if selected_option == 'today' %} selected {% endif %}>Today</option>
                  <option value="this_week" {% if selected_option == 'this_week' %} selected {% endif %}>This week</option>
                  <option value="last_week" {% if selected_option == 'last_week' %} selected {% endif %}>Last week</option>
                  <option value="this_month" {% if selected_option == 'this_month' %} selected {% endif %}>This month</option>
                </select>
                
           

        
    
                <button class="btn btn-dark mt-3" onclick="applyFilter()" type="submit">Apply</button>
                <a class="btn btn-dark custom-btn mt-3" href="{% url 'dashboard' %}">Unapply Filter</a>
              </div>
       
           
       
        </form>
      </div>
      
     
        

      
      
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      
    <div class="row px-3">

      <div class="col-lg-9 col-md-6 mb-4">

        


        <div class="chart-container d-flex justify-content-center align-items-center bg-white rounded" style="position: relative; height:60vh;">
          <canvas id="myChart"></canvas>
        </div>

        
     
        <script>
          const xValues = JSON.parse('{{ xlabel|safe }}');
          const activitiesCounts = JSON.parse('{{ activities_counts_json|safe }}');
      
          const statusLabels = ['Open', 'Pending', 'Close'];
          const statusColors = ['green', 'yellow', 'red'];
          

          
          const datasets = statusLabels.map((status, index) => {
            return {
              label: status,
              data: xValues.map((date) => (activitiesCounts[date] && activitiesCounts[date][status]) || 0),
              borderColor: statusColors[index],
              fill: false,
              tension: 0.2 // Adjust the tension value to control the curve
            };
          });
      
          const dataMaxValue = Math.max(...datasets.flatMap(dataset => dataset.data));
          const suggestedMax = dataMaxValue + 2;
      
          new Chart("myChart", {
            type: "line",
            data: {
              labels: xValues,
              datasets: datasets
            },
            options: {
              legend: { display: true },
              scales: {
                y: {
                  ticks: {
                    stepSize: 1 // Set the interval between y-axis labels to 1
                  },
                  suggestedMin: 0, // Set the minimum value for the y-axis
                  suggestedMax: suggestedMax // Set the maximum value for the y-axis
                }
              }
            }
          });
        </script>  
       
      </div>
        
        <div class="col-lg-3 col-md-6 mb-4">
        <div class="chart-container d-flex justify-content-center align-items-center bg-white rounded" style="position: relative; height: 60vh;"">
          <canvas id="myChart-0"></canvas>
        </div>
      
        <script>
          const active = '{{active_services}}';
          const inactive = '{{inactive_services}}';
          
          
          new Chart("myChart-0", {
            type: "doughnut",
            data: {
              labels: ['Inactive', 'Active'],
              datasets: [{
                label: 'Status',
                data: [inactive, active],
                backgroundColor: ['red', 'green'],
                hoverOffset: 4
              }]
            },
            options: {
              plugins: {
                title: {
                  display: true,
                  text: 'Client Services Status',
                  font: {
                    size: 16,
                    weight: 'bold'
                  }
                }
              }
            }
          });
        </script>
    
      </div>
    </div>
      
      <div class="row mb-4">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Applications</h6>
                  <p class="text-sm mb-0">
                    
                    <span class="font-weight-bold ms-1">Total : {{applications.count}}</span> 
                  </p>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">URL</th>
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Dev Language</th>
                      <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">No of Users</th>
                    </tr>
                  </thead>
                  <tbody>
       
                    
                    {%for app in applications %}
                    <tr>

                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-xs font-weight-bolder">{{app.name}}</h6>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <a href="{{app.url}}" class="mb-0 text-xs font-weight-bolder">{{app.url}}</a>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-xs font-weight-bolder">{{app.devLanguage}}</h6>
                          </div>
                        </div>
                      </td>

                      
                      <td>
                        <div class="d-flex justify-content-center px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-xs text Centerfont-weight-bolder">{%if app.applicationaccess_set.all.count%}{{app.applicationaccess_set.all.count}}{%else%}No Users{%endif%}</h6>
                          </div>
                        </div>
                      </td>

  
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header pb-0">
              <h6>Informations</h6>
             
            </div>
            <div class="card-body p-3 border">
            
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Faculty</th>
                      <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Count</th>
                      
                    </tr>
                  </thead>
                  <tbody>
       
                  {%for key, value in info.items%}  
   
                    <tr>

                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-xs font-weight-bolder">{{key}}</h6>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <a href="{{app.url}}" class="mb-0 text-xs font-weight-bolder">{{value}}</a>
                          </div>
                        </div>
                      </td>

                     
  
                    </tr>
                  {%endfor%}
                  </tbody>
                </table>
             

            </div>
          </div>
        </div>
      </div>



{%endblock%}