<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5;
      }
      .card{
        display: flex;
        flex-direction:column;
        justify-content: column;
        background-color: red;
        padding-top: 0;
        padding-left: 2em;
        }
      .title{
        font-size: 3rem;
        text-align: center;
        background-color: rebeccapurple;
      }
      
    </style>
  </head>
  <body>
    <div class="card">
        <h1 class="title">Title</h1>
        <div class="content">
          <h2 class="heading">Maintenance</h2>
          <p class="paragraph">{{maintenance}}</p>
          <h2 class="heading">Location</h2>
          <p class="paragraph">{{location}}</p>
          <h2 class="heading">Reason</h2>
          <p class="paragraph">{{reason}}</p>
          <h2 class="heading">Benefits</h2>
          <p class="paragraph">{{benefits}}</p>
        </div>
      </div>
      
  </body>
</html>
