{%extends 'subisu/base.html' %}


{%block start%}
{%include 'subisu/alert.html' %}


<div class = "px-4">
<div class="card mt-4">
  <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>

          
            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Related Activity</th>
            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Sent To</th>
            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Log Time</th>
          
       
            
            {% comment %} <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Action</th> {% endcomment %}
         
        </tr>
      </thead>
      <tbody>
     
        {% for email in emails %}
            <tr>
              
              <td class="align-middle text-center"><h6 class="mb-0 text-xs">{{email.activityId.title}}</h6></td>
              <td class="align-middle text-center"><h6 class="mb-0 text-xs">{{ email.activityId.contact.email}} {{email.activityId.otherEmails}}</h6></td>
              <td class="align-middle text-center"><h6 class="mb-0 text-xs">{{ email.logTime}}</h6></td>
            
      
                
            </tr>
        {% endfor %}


       
      </tbody>
    </table>
  </div>
</div>
</div>
{%endblock%}