{%extends 'subisu/base.html' %}


{%block start%}
{%include 'subisu/alert.html' %}
<div class="d-flex justify-content-end  px-6">
  <a class="btn btn-icon btn-3 btn-dark ml-auto" href="{%url 'create_activities' %}">
    <span class="btn-inner--icon"><i class="material-icons">add</i></span>
    <span class="btn-inner--text">Add Activities</span>
  </a>
</div>


<div class="card">
  <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>

        
            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Related Activity</th>
          
            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Log Time</th>
          
       
            
            {% comment %} <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Action</th> {% endcomment %}
         
        </tr>
      </thead>
      <tbody>
     
        {% for email in emails %}
            <tr>
              <td class="align-middle text-center"><h6 class="mb-0 text-xs">{{email.activityId.title}}</h6></td>
              <td class="align-middle text-center"><h6 class="mb-0 text-xs">{{ email.logTime}}</h6></td>
            
      
              {% comment %} <td class="d-flex justify-content-around align-items-center">
                
                <a href="{%url 'edit_activity' activity.id%}" class="btn btn-primary btn-sm"><i class="material-icons text-md">edit</i></a>
                <a href="{%url 'activities_mail' activity.id%}" class="btn btn-primary btn-sm"><i class="material-icons text-md">mail</i></a>
                <a href="{%url 'delete_activity' activity.id%}" class="btn btn-primary btn-sm"><i class="material-icons text-md">delete</i></a>
              </td> {% endcomment %}
                
            </tr>
        {% endfor %}


       
      </tbody>
    </table>
  </div>
</div>
{%endblock%}