<style>
  .sidenav #btn {
    position: absolute;
    color: #fff;
    top: 0.4rem;
    left: 1.2rem; /* Adjust the left value to align the button */
    text-align: right;
    font-size: 1.2rem;
    line-height: 50px;
    cursor: pointer;
    
  }

  .sidenav .top .logo{
    margin-top:0.5rem;
    color:#fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items:center;
    pointer-events: none;
    opacity: 1;
    
  }

  .sidenav.active .top .logo{
    opacity: 0;
  }

  .top{
  
    font-size:1.8rem;
    margin-left:3.5rem;
   
  }

  .sidenav ul{
   
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0;
  }

  .sidenav ul li{
    margin-top:1rem;
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin:0.8rem auto;
    line-height:50px;
  }

  .sidenav ul li a{
    color:#fff;
    display:flex;
    align-items: center;
    text-decoration:none;
    border-radius: 0.8rem;
  }

  .sidenav ul li a:hover{
    background-color: #fff;
    color: #12171e;
  }

  .sidenav ul li a i{
    min-width:50px;
    text-align:center;
    height:50px;
    line-height: 50px;
  }

  .sidenav .nav-item{
    opacity: 1;
  }

  .sidenav.active .nav-item{
    opacity:0;
  }



  
</style>

<div class="sidenav">
  <div class="top">
      <div class="logo">
          <span>Subisu</span>
      </div>
      <i class="fa-solid fa-bars" id="btn"></i>
  </div>
  <div class="user"></div>
  <ul>
      <li>
          <a href="{%url 'dashboard'%}">
              <i class="fa-solid fa-gauge"></i>
              <span class="nav-item">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
      </li>

      <li>
          <a href="{%url 'hosts'%}">
              <i class="fa-solid fa-server"></i>
              <span class="nav-item">Hosts</span>
          </a>
          <span class="tooltip">Hosts</span>
      </li>

      <li>
          <a href="{%url 'staffs'%}">
              <i class="fa-solid fa-user"></i>
              <span class="nav-item">Staffs</span>
          </a>
          <span class="tooltip">Staffs</span>
      </li>

      <li>
          <a href="{%url 'activities'%}">
              <i class="fa-solid fa-list-check"></i>
              <span class="nav-item">Activities</span>
          </a>
          <span class="tooltip">Activities</span>
      </li>

      <li>
          <a href="{%url 'applications'%}">
              <i class="fa-brands fa-app-store-ios"></i>
              <span class="nav-item">Application</span>
          </a>
          <span class="tooltip">Application</span>
      </li>

      <li>
          <a href="{%url 'emails'%}">
              <i class="fa-solid fa-envelope"></i>
              <span class="nav-item">Email</span>
          </a>
          <span class="tooltip">Email</span>
      </li>

      <li>
        <a href="{%url 'poa'%}">
          <i class="fa-solid fa-circle-info"></i>
            <span class="nav-item">POA</span>
        </a>
        <span class="tooltip">POA</span>
    </li>
  </ul>
</div>
